body{
    background-color: black;
    padding: 0px; margin: 0px; 
}
#videobcg {
    position: fixed;
    top: 0px;
    left: 0px;
    min-width: 100vw;
    min-height: 0%;
    width: 100vw;
    height: auto;
    z-index: -1;
    overflow: hidden;
}

.front {
    position: relative;
    margin-top: 12%; width: 100%;
}
.grid {
    display: grid;
    grid-template-rows: auto;
}
.grid1 {
    margin-top : 5%; 
    display: grid;
    grid-template-columns: 1fr 18vw 1fr;
}
.line {
    margin-top: 2.54vw;
}
#l1 {
    border: solid 4px white; width: 44.5%;
    text-align: right;
}
#l2 {
    margin-left : 0.78vw;
    
    border: solid 4px white; width: 44.5%;
}
.ClassOf20 {
    font-family: SegoeUI;
    /* font-size: 100px; */
    font-size: 3.9vw;
    font-weight: 300;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.gird2{
    margin-top :15.625vw;
}
.ambassadar {
  font-family: SegoeUI;
  /* font-size: 200px;  */
  font-size: 7.8vw;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
#l3 {
    border: solid 4px white; width: 56.5%;
}
.grid3 {
    display: grid;
    grid-template-columns: auto 15.625vw auto;
    margin-left: 10%;
    margin-right: 10%;
}
.g3_text {
    font-family: SegoeUI;
    font-size: 1.17vw;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.23;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;   
}
.grid3 a {
    font-size: 1.95vw;
    color: #ffffff;
}
#TippCorp{
    color :#e9b545;
}

input {
    width: 31px;
    height: 31px;
    background-color:transparent;
    color:white;
    font-size :1vw;
    text-align : center;
}
  
@media screen and (max-width: 768px) {

    body{
        margin-top: 35vh;
    }
    #videobcg {
        position: fixed;
        top: 0px;
        left: 0px;
        min-width: 0;
        min-height: 0%;
        width: 100vw;
        height: 0;
        z-index: -1;
        overflow: hidden;
    }
    .front {
        position: relative;
        margin-top: 12%; width: 100%;
    }
    .grid {
        display: grid;
        grid-template-rows: auto;
    }
    .grid1 {
        margin-top : 5%; 
        display: grid;
        grid-template-columns: 1fr 30vw 1fr;
    }
    .line {
        margin-top: 2.54vw;
    }
    #l1 {
        border: solid 2px white; width: 29vw;
        
    }
    #l2 {
        margin-left : 0.78vw;
        
        border: solid 2px white; width: 29vw;
    }
    .ClassOf20 {
        font-family: SegoeUI;
        /* font-size: 100px; */
        font-size: 5vw;
        font-weight: 300;
        font-stretch: normal;
        font-style: italic;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }
    
    .gird2{
        margin-top :15.625vw;
    }
    .ambassadar {
      font-family: SegoeUI;
      /* font-size: 200px;  */
      font-size: 13vw;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
    }
    #l3 {
        border: solid 2px white; width: 90vw;
    }
    .grid3 {
        display: grid;
        grid-template-columns: auto 15.625vw auto;
        margin-left: 0;
        margin-right: 0;
    }
    .g3_text {
        font-family: SegoeUI;
        font-size: 2.5vw;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.23;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;   
    }
    .grid3 a {
        font-size: 2.5vw;
        color: #ffffff;
    }
    #TippCorp{
        color :#e9b545;
    }
    input {
        width: 40px;
        height: 25px;
        background-color:transparent;
        color:white;
        font-size :4vw;
        text-align : center;
    }

}
  

  
